* {
    margin: 0;
    padding: 0;
}

body {
    background: #202020;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .4em;
    max-width: 900px;
    margin: 0 auto;
    grid-auto-rows: minmax(25px, auto);
    /* background: rgba(79, 248, 164, 0.933); */
    padding: 1em;
}

.header {
    grid-column: 1/5;
    /* font-family: 'Shrikhand', cursive; */
    /* color: white; */
    /* backgr   ound: lightblue; */
    /* font-weight: bold; */
    /* text-align: center; */
}

.header img {
    /* max-width: 220px; */
    width: 100%;
}

.current {
    grid-column: 1/5;
    font-family: 'Shrikhand', cursive;
    /* color: white; */
    border-bottom: 2px solid #586673;
}

.past {
    font-family: 'Shrikhand', cursive;
    grid-column: 1/5;
    grid-row: 9/10;
    /* color: white; */
    border-bottom: 2px solid #586673;
}

.wrapper div {
    /* background: rgba(248, 195, 79, 0.933); */
    color: rgba(255, 255, 255, 0.5);
}

.pic {
    text-align: center;
    padding-top: 1em;
}

.wrapper div:nth-child(odd) {
    /* background: rgba(79, 181, 248, 0.933); */
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    padding-top: .5em;
}

.pic img {
    max-width: 220px;
    width: 100%;
    display: block;
    border-radius: 1.5em;
    transition: all .2s ease-in-out;
    outline: 1px solid transparent;
    height: 156.75px;
}

.wrapper:hover .pic img {
    opacity: .6;
    transform: scale(.92);
}

.wrapper .pic img:hover {
    opacity: 1;
    transform: scale(1) rotate(2deg);
}
