* {
    margin: 0;
    padding: 0;
}

body {
    background: #202020;
    color: rgba(255, 255, 255, 0.5);
}

.wrapper {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.header {
    grid-area: header;
    padding-top: .2em;
}

.current {
    grid-area: current;
    text-align: center;
}

.past {
    grid-area: past;
    text-align: center; 
}

.pic {
    padding: .5em 0;
    /* background: blueviolet; */
    /* border: 1px solid black; */
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

h3 {
    font-family: 'Shrikhand', cursive;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    padding-top: .5em;
}       